# Product Search form
{% extends 'base.html' %}
{% block body %}
    {% from "_formhelper.html" import render_field %}
    <form method="post" >
    <dl>
        {{ render_field(form.search) }}
    </dl>
    <label for="search">Search</label>
    <input type="text" id="search">
    <input type="submit" value="Search" id="submitButton">
    </form >
    <div id="productsList">
    <table>
        <tbody>
        {% for prod in productList %}
        <tr>
            <td>{{ prod[0] }}</td>
            <td>{{ prod[1] }}</td>
            <td><a href="/buy">Buy</a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}